terrain:
  frequency:
    low: 5E-05
    high: 0.008
  octaves:
    low: 1
    high: 3
  lacunarity:
    low: 0
    high: 4
  persistance:
    low: 0
    high: 0.5
  drift: true
mountain:
  frequency:
    low: 0.007
    high: 0.019
  octaves:
    low: 1
    high: 3
  lacunarity:
    low: 0
    high: 4
  persistance:
    low: 0
    high: 1
  drift: true
cave:
  frequency:
    low: 0.004
    high: 0.0085
  octaves:
    low: 1
    high: 4
  lacunarity:
    low: 0
    high: 4
  persistance:
    low: 0
    high: 1
  drift: true
pattern:
  frequency:
    low: 0.006
    high: 0.01
  octaves:
    low: 1
    high: 4
  lacunarity:
    low: 0
    high: 4
  persistance:
    low: 0
    high: 1
  drift: true
stripe:
  frequency:
    low: 1E-05
    high: 0.1
  octaves:
    low: 1
    high: 4
  lacunarity:
    low: 0
    high: 4
  persistance:
    low: 0
    high: 2
  drift: true
driftMap:
  frequency:
    low: 0.0002
    high: 0.01
  octaves:
    low: 1
    high: 4
  lacunarity:
    low: 0
    high: 4
  persistance:
    low: 0
    high: 2
  drift: false
terrainTypes:
- Perlin
- Simplex
- SimplexValue
- Value
mountainTypes:
- Perlin
- Simplex
- SimplexValue
- Value
caveTypes:
- Perlin
- Simplex
- SimplexValue
- Value
patternTypes:
- Perlin
- Simplex
- SimplexValue
- Value
stripeTypes:
- Perlin
- Simplex
- SimplexValue
- Value
driftMapTypes:
- Perlin
- Simplex
- SimplexValue
- Value
terrainScale:
  low: 6
  high: 48
beachHeight:
  low: 4
  high: 24
cloudEasing:
  low: 48
  high: 60
caveBreak:
  low: 256
  high: 768
patternBreak:
  low: 128
  high: 768
stripeBreak:
  low: 64
  high: 940
patternStripeBreak:
  low: 256
  high: 768
cloudBreak:
  low: 128
  high: 768
islandBreak:
  low: 128
  high: 512
glass1:
  low: 0
  high: 32
glass2:
  low: 0
  high: 32
modScale:
  low: 2
  high: 64
stretch:
  low: 0
  high: 1000
squish:
  low: 0
  high: 10

