terrain:
  frequency:
    low: 5E-05
    high: 0.008
  octaves:
    low: 1
    high: 3
  lacunarity:
    low: 0
    high: 4
  persistance:
    low: 0
    high: 0.5
mountain:
  frequency:
    low: 0.008
    high: 0.018
  octaves:
    low: 1
    high: 3
  lacunarity:
    low: 0
    high: 4
  persistance:
    low: 0
    high: 1
cave:
  frequency:
    low: 0.0075
    high: 0.02
  octaves:
    low: 1
    high: 4
  lacunarity:
    low: 0
    high: 4
  persistance:
    low: 0
    high: 1
pattern:
  frequency:
    low: 0.01
    high: 0.04
  octaves:
    low: 1
    high: 4
  lacunarity:
    low: 0
    high: 4
  persistance:
    low: 0
    high: 1
stripe:
  frequency:
    low: 1E-05
    high: 0.1
  octaves:
    low: 1
    high: 4
  lacunarity:
    low: 0
    high: 4
  persistance:
    low: 0
    high: 2
terrainTypes:
- Perlin
- Simplex
- SimplexValue
- Value
mountainTypes:
- Perlin
- Simplex
caveTypes:
- Perlin
- Simplex
- SimplexValue
- Value
patternTypes:
- Perlin
- Simplex
- SimplexValue
- Value
stripeTypes:
- Perlin
- Simplex
- SimplexValue
- Value
terrainScale:
  low: 24
  high: 48
beachHeight:
  low: 4
  high: 24
cloudEasing:
  low: 48
  high: 60
caveBreak:
  low: 256
  high: 600
patternBreak:
  low: 128
  high: 768
stripeBreak:
  low: 64
  high: 940
patternStripeBreak:
  low: 256
  high: 768
cloudBreak:
  low: 128
  high: 768
islandBreak:
  low: 128
  high: 512
glass1:
  low: 0
  high: 32
glass2:
  low: 0
  high: 32
modScale:
  low: 2
  high: 64
stretch:
  low: 0
  high: 1000
squish:
  low: 0
  high: 10

